@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    .font-outline-white-1 {
      -webkit-text-stroke: 1px white;
    }

    .font-outline-white-4 {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px white;
    }

    html {
      scroll-behavior: smooth;
    }
}


::selection{
  /* background-color: #051139; */
  /* background-color: black; */
  background-color: white;
  color: #051139;
  /* color: #FAFF00; */
  font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
}

.main-body{
  background: linear-gradient(180deg, #051139 0.51%, #0E2F9F 70.52%, #051139 88.51%);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
}

.swiper-pagination-bullet{
  background: white;
  width: 1rem;
  height: 1rem;
  opacity: 1;
}

.swiper-pagination-bullet-active
{
  background-color: #1E50FF;
  width: 4rem;
  border-radius: 1rem;
  height: 1rem;
}

.project {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.project-hidden {
  transform: translateX(100%);
}

.project-visible {
  transform: translateX(0%);
}
