@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    .font-outline-white-1 {
      -webkit-text-stroke: 1px white;
    }

    .font-outline-white-4 {
      -webkit-text-stroke: 4px white;
    }
}

*{
    margin: 0;
    padding: 0;
}

.main-body{
  background: linear-gradient(180deg, #051139 0%, #051139 2.51%, #0E2F9F 75.52%, #051139 98.51%);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
}